<!--The whole content below can be removed with the new code.-->
<div >
  <nav class='navbar navbar-default'>
    <div class='containter-fluid'>
      <a class='navbar-brand'>{{ pageTitle }} </a>
      <ul class='nav navbar-nav'>
          <li><a [routerLink]="['/welcome']">Home</a></li>
          <li><a [routerLink]="['/products']">Product List</a></li>
      </ul>
      </div>
    </nav>
    <div class='container'>
      <!-- component view displayed here depending on route selected -->
        <router-outlet></router-outlet>
    </div>
</div>
